In [64]:
import pandas as pd
import csv
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('precision', 0)

In [65]:
adj_akk = pd.read_csv('oikein_adjakk.csv')
adj_dat = pd.read_csv('oikein_adjdat.csv')
adj_gen = pd.read_csv('oikein_adjgen.csv')
adj_ins = pd.read_csv('oikein_adjins.csv')
adj_pre = pd.read_csv('oikein_adjpre.csv')
akk = pd.read_csv('oikein_akk.csv')
dat = pd.read_csv('oikein_dat.csv')
gen = pd.read_csv('oikein_gen.csv')
pre = pd.read_csv('oikein_pre.csv')
nom = pd.read_csv('oikein_nom.csv')
ins = pd.read_csv('oikein_ins.csv')
nommonikko = pd.read_csv('oikein_nomnom.csv')

In [66]:
df1 = pd.DataFrame(nom)
df2 = pd.DataFrame(nommonikko)
df3 = pd.DataFrame(gen)
df4 = pd.DataFrame(dat)
df5 = pd.DataFrame(akk)
df6 = pd.DataFrame(ins)
df7 = pd.DataFrame(pre)
df8 = pd.DataFrame(adj_akk)
df10 = pd.DataFrame(adj_gen)
df9 = pd.DataFrame(adj_dat)
df11 = pd.DataFrame(adj_ins)
df12 = pd.DataFrame(adj_pre)

In [67]:
pointsit = [df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12]

In [72]:
kaikkipointsit = pd.concat(pointsit, axis=1)
taulukko = kaikkipointsit.dropna()

In [73]:
taulukko.columns = ['Nom','Nom mon','Gen','Dat','Akk','Ins','Pre','Adj Akk','Adj gen','Adj dat','Adj ins','Adj pre']

In [74]:
taulukko

,Nom,Nom mon,Gen,Dat,Akk,Ins,Pre,Adj Akk,Adj gen,Adj dat,Adj ins,Adj pre
0,1,1,0,1,1,1,1,1,1,1,1,0
1,1,1,1,1,1,1,1,1,1,1,1,0
2,1,1,1,1,1,1,1,1,1,1,1,0
3,1,1,0,1,1,1,1,1,1,1,1,0
4,1,1,0,1,1,1,1,1,1,1,1,0
5,1,1,1,1,0,1,1,1,1,1,1,0

In [75]:
taulukko.to_csv('taulukko.csv')